.container {
  display: flex;
  margin: 20px;
}

#leaderBoardTable {
  margin-right: 20px;
  width: 30%;
}

#codeSubmit {
  width: 70%;
  padding: 20;
}

#codeSubmit h3 {
  margin-top: 0;
  background-color: #5a5a5a;
  border: 1px solid #5a5a5a;
}

#codeSubmit button {
  margin-top: 10px;
}

@media (max-width: 100%) {
  .container {
    flex-direction: column;
  }
  #leaderBoardTable {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
